<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCn_S2gYVCK8o2UHQnd5_USwW8oSnVZ8VU</string>
	<key>GCM_SENDER_ID</key>
	<string>744597823505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ss.MoMeokNyang</string>
	<key>PROJECT_ID</key>
	<string>momeoknyang</string>
	<key>STORAGE_BUCKET</key>
	<string>momeoknyang.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744597823505:ios:5d60762c0a532686dcd1b0</string>
</dict>
</plist>